:root {

--primary:#7f5af0;
--accent:#ff8906;
--light:#f8f9fa;
--dark:#2c2c54;

}

body{

font-family:'Segoe UI',sans-serif;
background:#f8f9fa;
color:#2c2c54;

}

/* NAVBAR */

.navbar-brand{

font-weight:bold;
font-size:24px;
color:#7f5af0 !important;

}

.nav-link{

font-weight:500;

}

.nav-link:hover{

color:#ff8906 !important;

}


/* HERO */

.hero{

padding:80px 20px;
text-align:center;
background:white;

}


/* HOME GALLERY */
/* ========================= */
/* HOME GALLERY PREVIEW */
/* ========================= */

.home-gallery{

padding:80px 50px;
background:#000;

}

.home-gallery h2{

text-align:center;
font-size:38px;
margin-bottom:40px;
color:#ffcc00;

}

.home-gallery-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;

}

.home-gallery-grid img{

width:100%;
height:350px;
object-fit:cover;
border-radius:12px;
transition:0.4s ease;
box-shadow:0 10px 25px rgba(0,0,0,0.6);

}

.home-gallery-grid img:hover{

transform:scale(1.06);
box-shadow:0 15px 35px rgba(255,204,0,0.4);

}



/* CONTACT */

.contact-section{

background:white;

}

form{

background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,.1);

}


/* PAYMENT */

.qr-code{

width:300px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,.2);

}


/* FOOTER */

footer{

background:#343a40;
color:white;
padding:20px;

}


/* RESPONSIVE */

@media(max-width:768px){

.gallery img{

height:220px;

}

}
